body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    user-select: none;
}

hr {
    border: 1px solid black;
    background-color: black;
    width: 85%;
}

h1 {
    text-align: center;
    color: black;
}

h3 {
    margin: 5px;
}

h4 {
    text-align: center;
    margin: 10px;
}

input {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 2px;
    padding: 0 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th {
    border: 2px solid black;
}

th {
    background-color: #555;
    color: white;
}

td {
    border: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0;
}

tr:nth-child(even) {
    background-color: rgb(234, 233, 233);
}

tr:nth-child(odd) {
    background-color: rgb(217, 217, 217);
}

tr:hover {
    background-color: rgb(205, 206, 206);
    cursor: default;
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

p, a {
    font-size: 13px;
    margin: 10px;
}

a:visited, a:link {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(133, 123, 124);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

.info {
    width: 85%;
    margin: auto;
}

.horizontalDisplay {
    display: flex;
    overflow-x: auto;
}

.horizontalDisplay div {
    margin-right: 50px;
}

.recuadro {
    background-color: rgb(235, 235, 235);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgb(70, 70, 70);
}

.recuadro:hover {
    background-color: rgb(181, 181, 181);
}

.cuenta {
    width: 200px;
}

.cuenta p {
    margin: 10px;
}

.operacion {
    display: flex;
    padding: 0 10px;
    min-width: 125px;
    height: 20px;
}

.operacion img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.operacion p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

#resumen {
    width: 75%;
    margin: 15px auto;
    max-width: 400px;
}

#resumen h4 {
    text-align: center;
}

/* Transactions Page */
#searchBar {
    width: 75%;
    min-width: 475px;
    max-width: 600px;
    display: flex;
    background-color: rgb(220, 174, 122);
    justify-content: space-around;
    padding: 5px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: -1px 1px 2px rgb(70, 70, 70);
}

#searchInput {
    padding: 0 5px;
}

#searchBtn {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: none;
    border: 0;
    border-radius: 5px;
}

#searchBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#searchBar img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

#transactionsTable {
    min-width: 500px;
}

#transactionsTable p {
    margin: 0;
    text-align: center;
}

#transactionsTable th {
    font-size: 14px;
    font-style: italic;
}

#transactionsFooter {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

@media screen and (max-width: 500px) {
    #transactionsFooter {
        flex-direction: column;
    }

    #transactionsFooter p {
        text-align: center;
    }

    #transactionsFooter a {
        width: 50%;
        max-width: 150px;
        margin: 10px auto;
    }

    #navTransactions {
        margin: auto;
        width: 225px;
    }
}

#navTransactions {
    background-color: rgb(220, 174, 122);
    border-radius: 10px;
    box-shadow: -1px 2px 5px rgb(70, 70, 70);
}

#navTransactions p {
    margin: 5px 15px;
}

#navTransactions button {
    background: none;
    border: 0;
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navTransactions button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#navTransactions img {
    width: 20px;
}

#navTransactions div {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

/* Send Transactions Page */
#cuentaSend {
    margin: 25px auto;
}

.actionP {
    color: rgb(100, 150, 30);
    margin: 0;
}

.sendColumns {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid gray;
    background-color: #c2c2c2;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgb(70, 70, 70);
}

#sendData {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#sendData input {
    max-width: 225px;
}

#subjectSend {
    width: 75%;
    height: 20%;
    max-width: 240px;
    padding: 10px;
}

#destinatarioData {
    margin: 0 25px;
}

#destinatarioData img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#destinatarioData p {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .sendColumns {
        flex-direction: column;
        width: 200px;
        height: 60vh;
        justify-content: space-around;
    }

    #sendData {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 35%;
    }

    #subjectSend {
        width: 90%;
    }

    #destinatarioData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.actionBtn {
    display: flex;
    width: 100px;
    height: 30px;
    margin: 15px auto;
    background-color: rgb(247, 158, 56);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

/* Profile Page */
.centeredInfo {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 450px;
    text-align: center;
}

#userInfo {
    background-color: #c2c2c2;
    border: 1px solid gray;
    background-color: #c2c2c2;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgb(70, 70, 70);
    width: 25%;
    min-width: 250px;
}

#profileImg img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#updateInfoBtn {
    margin: 0 15px;
    align-self: flex-end;
}
