body {
    background-color: #afafaf;
    font-family: Arial, sans-serif;
    margin: 0;
}

hr {
    border: 1px solid black;
    background-color: black;
    width: 85%;
}

h1 {
    text-align: center;
    color: white;
}

h3 {
    margin: 5px;
}

h4 {
    text-align: center;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

p, a {
    font-size: 13px;
    margin: 10px;
}

a:visited, a:link {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.info {
    margin: 0 7%;
}

.horizontalDisplay {
    display: flex;
    overflow-x: auto;
}

.horizontalDisplay div {
    margin-right: 50px;
}

.recuadro {
    background-color: rgb(220, 220, 220);
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: -1px 1px 2px rgb(70, 70, 70);
}

.cuenta {
    width: 200px;
}

.cuenta p {
    margin: 10px;
}

.operacion {
    display: flex;
    padding: 0 10px;
    min-width: 125px;
}

.operacion img {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.operacion a {
    margin: auto;
}

#resumen {
    width: 75%;
    margin: 15px auto;
    max-width: 400px;
}

#resumen h4 {
    text-align: center;
}
